@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* 
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
} */
body{
	background: #f5f6fa;
}
.wrapper .sidebar{
	background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}
/* .wrapper .sidebar .profile {
	margin-bottom: 30px;
	text-align: center;
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
} */
  /* *{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  } */

  body{
    background: #f5f6fa;
  }
  .wrapper .sidebar{
    background: rgb(230, 234, 236);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
  }
  .wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
  }

.Dh{
    margin-left: 20px;
}

.hire{
 color: rgb(11, 177, 228);
}
  
  .search{  
    color: rgb(167, 163, 163);
    margin-right: 10px;
  }

  .nav{
    font-weight: 800;
    padding: 30px;
    font-size: medium;
}

  .sea:hover {
    padding: 6px 16px;
    font-size: 15px;
    margin-left: 6px;
    background-color: #326ff3;
    border: 2px solid #326ff3;
    border-radius: 5px;
    color: #030303;
    cursor: pointer;
  }

